<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post</title>
    <link rel="stylesheet" href="/static/css/post.css">
</head>
<body>
    <body>

      <form action="/" method="post" onsubmit="return validatePostForm(this);">
        <div class="main-container">
            <div class="sidebar">
                <div class="profile-section">
                    <p id="username"> {{.}} </p>
                </div>
            </div>
            <div class="feed-container">
                <div class="post-form">
                    <input type="text" id="post-title" name="title" placeholder="title"maxlength="50">
                    <textarea id="post-content" name="content" placeholder="What's on your mind?" maxlength="50"></textarea>
                    <div class="interests">
                        <p>Choose your interests:</p>
                        <label><input type="checkbox" name="interest" value="Sports"> Sports ⚽</label><br>
                        <label><input type="checkbox" name="interest" value="Food"> Food 🍴</label><br>
                        <label><input type="checkbox" name="interest" value="Music"> Music 🎶</label><br>
                        <label><input type="checkbox" name="interest" value="Culture"> Culture 🕌</label><br>
                        <label><input type="checkbox" name="interest" value="Programation"> Programation 🖥️</label>
                    </div>
                    
                    
                    <button type="submit">Post</button>
                </div>
            </div>
        </div>
    </form>
    
      </form>
      
      
        
</body>
</html>